<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.projectex.category.CategoryMapper">

    <!-- 카테고리 목록 보기 -->
    <select id="selCategory">
        SELECT category_pk as categoryPk, category_nm as categoryNm
        FROM t_category
    </select>

    <!-- 카테고리 추가 하기-->
    <insert id="insCategory" useGeneratedKeys="true" keyProperty="categoryPk">
        INSERT INTO t_category
        SET category_nm = #{categoryNm}
    </insert>

    <!-- 예외처리용 -->
    <select id="selCategoryByNm">
        SELECT category_nm as categoryNm
        FROM t_category
        WHERE category_nm = #{categoryNm}
    </select>

    <!-- 예외처리용 -->
    <select id="selByCategoryPk">
        SELECT category_pk as categoryPk
        FROM t_category
        WHERE category_pk = #{categoryPk}
    </select>

    <delete id="delCategory">
        DELETE FROM t_category
        WHERE category_pk = #{categoryPk}
    </delete>
</mapper>