<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.projectex.product.ProductMapper">
    <select id="selShoppingList">
        SELECT a.product_pk as productPk,
        b.category_nm as categoryNm,a.product_nm as productNm,a.memo,
        if(a.product_count = 1 ,null,a.product_count) AS product_count, a.buying_check as buyingCheck ,a.buying_date as
        buyingDate
        FROM t_purchase_product a
        JOIN t_category b
        ON a.category_pk = b.category_pk
        WHERE a.user_pk = #{iuser}
        <choose>
            <when test="isList == 0">
                AND a.buying_check <![CDATA[<]]> 2
            </when>
            <when test="isList == 1">
                AND a.buying_check = 0
            </when>
            <when test="isList == 2">
                AND a.buying_check = 1
            </when>
        </choose>
    </select>

    <insert id="insProduct">
        INSERT INTO t_purchase_product
        SET category_pk = #{categoryPk}
        ,user_pk = #{userPk}
        ,product_nm = #{productNm}
        <if test="memo != '' and memo != null">
            ,memo = #{memo}
        </if>
    </insert>

    <!-- 구매 확정 -->
    <update id="patchProduct">
        UPDATE t_purchase_product
        SET buying_check = 1
        ,buying_date = NOW()
        WHERE product_pk = #{productPk}
    </update>

    <!-- 구매 예정상품 수정 -->
    <update id="putProduct">
        UPDATE t_purchase_product
        SET
        <if test="productNm != null and productNm != ''">
        product_nm = #{productNm}
        </if>
        <if test="categoryPk != null and categoryPk != ''">
            ,category_pk = #{categoryPk}
        </if>
        <if test="memo != null and memo != ''">
            ,memo = #{memo}
        </if>
        WHERE product_pk = #{productPk} AND buying_check = 0
    </update>

    <delete id="delProduct">
        DELETE FROM t_purchase_product
        WHERE product_pk = #{productPk} AND buying_check = 0
    </delete>

    <!-- 구매 확정 상품 삭제시 2로바꾸기 -->
    <update id="patchConfirmed">
        UPDATE t_purchase_product
        SET buying_check = 2
        WHERE buying_check = 1 and product_pk = #{productPk}
    </update>
</mapper>