<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.projectex.user.UserMapper">
    <select id="loginedCheck">
        SELECT upw
        FROM t_user
        WHERE uid = #{uid}
    </select>

    <select id="selByUser">
        SELECT user_pk as userPk
        FROM t_user
        WHERE user_pk = #{userPk}
    </select>
</mapper>